.admin-barbers-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title-barberList {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.action-button:hover {
  background-color: #535040;
  color: #fff;
  transform: scale(1.05);
}

.barbers-list {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  max-height: 540px; 
  overflow-y: auto; 
  padding-right: 10px; 
}

.barber-card {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 6px rgb(19 18 18 / 69%);
  text-align: center;
}

.barber-card h3 {
  margin-bottom: 10px;
  color: #444;
}

.barber-card p {
  margin: 5px 0;
  color: #666;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.delete-barber{
  margin-bottom: 20px;
  color: #000000;
}

.modal select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.cancel-button {
  background-color: #703f3f;
  border: none;
  color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #bbb;
}
