
.agenda-container {
  max-width: 90%; 
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 54px;
}


h1, h3 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  
}


.agenda-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;
  gap: 10px;
}

.action-button {
  flex: 1 1;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  text-align: center;
  box-shadow: 0 4px 6px rgb(202 196 196 / 50%);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.action-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
}

.action-button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.date-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.date-filter label {
  font-size: 14px;
  color: white;
}

.date-filter input {
  padding: 5px 10px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 151px;
  background: white
}


.reservations-list-slider {
  max-height: 380px;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: #867620 #f9f9f9;
}


.reservations-list-slider::-webkit-scrollbar {
  width: 4px; 
}

.reservations-list-slider::-webkit-scrollbar-thumb {
  background: #FFD700; 
  border-radius: 4px;
}

.reservations-list-slider::-webkit-scrollbar-track {
  background: #f9f9f9; 
}


.reservation-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}




.reservation-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.reservation-time {
  font-weight: bold;
  font-size: 1.1rem;
}

.reservation-name,
.reservation-phone {
  margin: 5px 0;
  font-size: 1rem;
}

.no-reservations {
  text-align: center;
  font-size: 1rem;
  color: #666;
  margin-top: 20px;
}


@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
    margin-top: 80px;
  }

  h3 {
    font-size: 1.3rem;
  }

  .action-button {
    font-size: 14px;
    padding: 8px 10px;
  }

  .reservation-card {
    font-size: 0.9rem;
  }

  .reservation-time {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .agenda-actions {
    flex-direction: column;
    align-items: stretch;
  }

  .action-button {
    width: 100%; 
    margin-bottom: 10px;
  }

  .date-filter {
    justify-content: center;
  }

  .reservation-card {
    font-size: 0.8rem;
    padding: 10px;
  }

  .reservation-time {
    font-size: 0.9rem;
  }

  .no-reservations {
    font-size: 0.9rem;
  }
}
