body {
  background-color: black;
  margin: 0; 
  padding: 0; 
  font-family: 'Open Sans', sans-serif;
}

.watermark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width:302px;;
}

.watermark-customers {
  position: fixed;
  bottom: 9px;
  right: -3px;
  z-index: 1000;
  width: 249px;
}


.watermark-login {
  position: fixed;
  bottom: 10px;
  right: 24px;
  opacity: 0.7;
  z-index: 1000;
  width: 376px;
}

.watermark-top {
  position: fixed;
  top: 10px; 
  right: 10px;
  z-index: 1000;
  width: 302px;
} 
.watermark-midle {
  position: fixed;
  bottom: 100px;
  right: 12px;
  z-index: 1000;
  width: 380px;
}

.watermark-midle-reservation{
    position: fixed;
    bottom: 40px;
    right: 12px;
    z-index: 1000;
    width: 310px;
}
.Login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.center-content {
  text-align: center;
  max-width: 400px;
}

.logo {
  margin-top: 20%;
  width: 80%;
  margin-bottom: 0px;
}

input {
  padding: 10px;
  margin: 5px;
  width:72%;
  font-weight: bolder;
  font-size: 17px;
  background-color: #C1C1C1;
  border: 1px solid #ccc;
  border-radius: 100px;
  height: 4vh;
}

.button-container {
  position: relative;
}

.button-container img {
  position: absolute;
  top: 77%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #000000;
  color: #CCBA66;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  border: 1px solid #E0B355;
  border-radius: 11px;
  cursor: pointer;
  width: 87%;
  margin-top: 41%;
  height: 64px;
  font-size: 35px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  margin-bottom: 200px;
}
.button-container button:hover {
  background-color: #5d44447c;
  border: 1px solid #ffffff;
}

.instagram-logo-container {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.instagram-logo {
  width: 39px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: -3em;
}

.instagram-logo:hover {
  opacity: 0.8;
}

.whatsapp-logo {
  position: absolute;
  width: 52px;
  margin-top: -19px;
  cursor: pointer;
}

.whatsapp-logo:hover {
  opacity: 0.8;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-color: #000000; 
  font-size: 2rem;
}
.instagram-logo-container {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-logo-login {
  width: 45px;
  cursor: pointer;
}

.instagram-logo-login:hover {
  opacity: 0.8;
}

.whatsapp-logo-login {
  width: 42px;
  cursor: pointer;
}

.whatsapp-logo-login:hover {
  opacity: 0.8;
}

/* Media Queries */
@media only screen and (max-width: 600px) {

  .logo {
    margin-top: 10%;
    margin-bottom: 6%;
    width: 100%;
  }
  .user h1{
    font-size: 25px;
  }
  input {
    width: 80%;
    font-size: 17px;
  }

  .button-container button {
    width: 94%;
    font-size: 35px;
    margin-bottom: 170px;
  }

  .button-container img {
    width: 64px;
    top: 73%;
    left: 72%;

  }

  .whatsapp-logo-login {
    width: 49px;
    margin-left: 10px;
  }

  .instagram-logo-login {
    width: 52px;
    margin-left: 16.5em;
  }


}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .logo {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  input {
    width: 70%;
  }

  .button-container button {
    width: 50%;
  }

  .button-container img {
    width: 50px;
  }
}
@media screen and (width: 1406px) and (height: 625px) {


  .logo {
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .user h1{
    font-size: 25px;
  }
  input {
    width: 80%;
    font-size: 17px;
  }


  .button-container button {
    width: 50%;
    font-size: 20px;
  }

  .button-container img {
    width: 64px;
    top: 73%;
    left: 72%;

  }

  .whatsapp-logo-login {
    width: 50px;
  }
  .instagram-logo-login {
    width: 34px;
  }
}