body {
  background-color: white;
}

h2{
color: rgb(255, 255, 255);
font-weight: bolder;
font-size: 35px;
}
.morning-end-row-reservation{
  border-bottom: 12px solid #4a0808; 
}
.date-navigation-reservation{
  background-color: #ffffff66;
  width: auto;
}
.reservations-container {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  background-color: #f5f5f591;
}
.save button{
  border: white;
  font-size: larger;
  background-color: black;
  border-radius: 8px;
  cursor: pointer;
}

.save button:hover{
  background-color: #414f77;
}
table th {
  background-color: #141313;
  color: white;

}
table td {
  background-color: #d5d5d5c1;
  color: rgb(18, 17, 17);

}

table th,
table td {
  border: 2px solid #000000;
  text-align: center;
}

.available-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.available-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.available-button.reserved {
  background-color: #827e7e;
}
.reserved-text{
  color:#f6f6f6;
  font-weight: bold;
  background-color: green;

}
.cupo-text{
  color:#020202;
  font-weight:700;
  background-color: rgba(255, 255, 255, 0.119);

}
.past-Face-icon{
 color: #730000bf;
}
th.hour-column {
  background-color: rgb(47, 85, 201); 
  color: #fff; 
  text-align: center;
}

td.hour-cell {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  text-align: center; 
  font-weight: bolder;
}
.red-background {
  background-color: red;
  
}

.black-background {
  background-color: black;
}

.gray-background {
  background-color: gray;
  color: black;
}

.reserved-button button{
  margin: 5px;
  padding: 5px 10px;
  background-color: #000000;
  border-color: white;
  color: white;
  border: none;
  cursor: pointer;
  width: 56px;
}

reserved-button button:hover {
  background-color: #414f77;
}


@media screen and (max-width: 768px) {
  .table-container {
    overflow-x: auto;
    max-width: 400px;
  }
  .table-container table {
    border-collapse: collapse;
    width: 130%;
    margin: 20px auto;
    background-color: #ffffff00;
    font-size: 10px;
    height: 324px;
}
.reserved-button button{
  width: 56px;
}
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(27 27 27 / 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 1010;
}

.modal h3 {
  margin-bottom: 20px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.modal input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 92%;
}

.modal button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px 0;
}

.modal button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.modal button[type="button"] {
  background-color: #dc3545;
  color: white;
}

.reserved {
  background-color: #ffefea;
  text-align: center;
}

.reserved-icon {
  color: #000000;
  font-size: 1.2rem;
}
.past-interval {
  background-color: #989898;
  pointer-events: none;
  text-align: center;
  color: #000000;
}

